---
layout: default
prism: true
---

<div class="main-article-content">
    <div class="posts-banner-container">
        <div class="posts-banner-txt-container">
            <h1 id="post-index-title">
                {{ title }}
            </h1>
            <p>
                <time>
                    {{ date | readableDate }}
                    by
                    <a>{{ author }}</a>

                </time>
            </p>
            <h4 id="post-index-subtitle">
                {{ description }}
            </h4>

        </div>
    </div>

    <article class="main-article-content-txt">
        {{ content | safe }}
    </article>
</div>

<script>
    // This script block will set the background image using the Nunjucks template variable
    document.addEventListener("DOMContentLoaded", function () {
        const bgElement = document.getElementById('main-img-post');
        const imageUrl = '{{ image }}'; // Nunjucks template variable

        // Set the background image using the template variable
        bgElement.style.backgroundImage = `url(${imageUrl})`;
    });
</script>