---
layout: default
prism: true
---

<div class="main-article-content">
    <div class="indi-post-banner-container">
        <div class="indi-post-banner-txt-container">
            <h1 id="post-index-title">
                {{ title }}
            </h1>
            <p>
                <time>
                    {{ date | readableDate }}
                    by
                    <a>{{ author }}</a>

                </time>
            </p>
            <h4 id="post-index-subtitle">
                {{ description }}
            </h4>
        </div>
    </div>

    <article class="main-article-content-txt">
        {{ content | safe }}
    </article>
</div>